{% extends 'base.html' %}

{% block title  %}
Compare User
{% endblock  %}

{% block lead  %}
To compare press the button
{% endblock  %}

{% block main_body  %}
<form method="POST" action="/compare">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Model</label>
    <select name="model_name" class="form-control" id="exampleFormControlSelect1">
      {% for model in model_list %}
      <option value={{model.model_name}}> {{model.model_name}} </option>
      {% endfor %}
    </select>
  </div>
  <label>select row</label>
  <input name="row" style="margin-bottom:10px" class="form-control" type="text" />
  <input type="submit" class="btn btn-primary" value="Read" />
</form>

{% if prediction %}
<p>model '{{prediction.name}}', at row '{{prediction.row}}' value = '{{prediction.submit_x}}'</p>
{% endif %}
{% endblock  %}
