{% extends 'base.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}

{% block title %}
Model Index
{% endblock %}

{% block lead %}
학습시킨 모델을 조회, 추가, 및 삭제하는 페이지입니다.
{% endblock %}

{% block main_body %}
<form method="POST" action="/api/model">        
  <div class="form-group">
    <label>Keyword</label>
    <select name="keyword" class="form-control" id="exampleFormControlSelect1">
      {% for keyword in keyword_list %}
      <option value={{keyword.word}}>{{keyword.word}}</option>
      {% endfor %}
    </select>
  </div>
  <input name="model_name" style="margin-bottom:10px" class="form-control" type="text" placeholder="Enter model name">
  <input type="submit" class="btn btn-primary" value="Make Model" />
</form>

{% if model_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for model in model_list %}
    <tr>
      <th scope="row">{{ model.id }}</th>
      <td>{{ model.model_name }}</td>
      <td>
        <a class="btn btn-secondary", href='/api/model/{{ model.model_name }}'>
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
