{% extends 'base.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}

{% block title %}
Model Index
{% endblock %}

{% block lead %}
학습시킨 모델을 확인/추가/삭제 할수 있습니다.
{% endblock %}

{% block main_body %}
<style>
  body {
    background-image: url('https://cdn.pixabay.com/photo/2019/11/19/22/24/watch-4638673_960_720.jpg');
    background-size: 100%;
  }
  .input-group{
    margin-block-end:10px;
  }
</style>
<form method="POST" action="/api/model">        
  <div class="input-group">
    <span class="input-group-text" style="display: inline-block; text-align:center; width:120px;color:white;background-color: rgb(65, 65, 65); border:none;">Keyword</span>
    <select name="keyword" class="form-control" id="exampleFormControlSelect1">
      {% for keyword in keyword_list %}
      <option value="{{keyword}}">{{keyword}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-text" style="display:inline-block; text-align:center; width:120px; height: 40px; color:white;background-color: rgb(65, 65, 65); border:none;">Model Name</span>
    <input name="model_name" style="margin-bottom:10px" class="form-control" type="text" placeholder="Enter model name">
    <input type="submit" class="btn btn-primary" style="width:120px;height: 40px; background-color:maroon; border:none;" value="Make Model" />
  </div>
</form>


{% if model_list %}
<table class="table" style="color: white;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    {% for model in model_list %}
    <tr>
      <th scope="row">{{ model.id }}</th>
      <td>{{ model.model_name }}</td>
      <td>
        <a class="btn btn-secondary", href='/api/model/{{ model.model_name }}'>
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
