{% extends 'base.html' %}

{% block alert %}
{% if alert_msg %}
<div class="alert alert-{{ alert_msg.type }}" role="alert">
  {{ alert_msg.msg }}
</div>
{% endif %}
{% endblock %}

{% block title %}
Paper Add/Delete/Update
{% endblock %}

{% block lead %}
학습에 사용할 논문을 추가/삭제/업데이트 할 수 있습니다.
{% endblock %}

{% block main_body %}
<style>
  .input-group{
    margin-block-end:10px;
  }
  body {
    background-image: url('https://cdn.pixabay.com/photo/2019/11/19/22/24/watch-4638673_960_720.jpg');
    background-size: 100%;
  }
</style>
<form method="POST" action="/api/paper">
  <div class="input-group">
    <span class="input-group-text" style="display: inline-block; text-align:center; width:180px;color:white;background-color: rgb(65, 65, 65); border:none;">Key / Value</span>
    <select name="key" class="form-control" id="exampleFormControlSelect1">
      {% for key in key_list %}
      <option value="{{key.v}}">{{key.k}}</option>
      {% endfor %}
    </select>
    <input name="value" type="text" aria-label="end_date" class="form-control" placeholder="Enter search value">
    <input name="keyword" type="text" aria-label="end_date" class="form-control" placeholder="Enter paper's keyword">
    <span class="input-group-text" style="display: inline-block; text-align:center; width:120px;color:white;background-color: rgb(65, 65, 65); border:none;">Keyword</span>
  </div>
  <div class="input-group">
    <span class="input-group-text" style="display: inline-block; text-align:center; width:180px;color:white;background-color: rgb(65, 65, 65); border:none;">Start Date / End Date</span>
    <input name="start_date" type="text" aria-label="start_date" class="form-control" placeholder="Enter start date">
    <input name="end_date" type="text" aria-label="end_date" class="form-control" placeholder="Enter end date">
    <input type="submit" class="btn btn-primary" style="width:120px;background-color: maroon; border:none;" value="Add" />
  </div>  
</form>

{% if paper_list %}
<table class="table table-striped table-bordered" style="color: white;">
  <thead>
    <tr>
      <th>Identifier/</br>Keyword</th>
      <th colspan="3">Title/</br>Abstract </th>
      <!-- <th scope="col"> </th>
      <th scope="col"> </th> -->
      <th>Category</th>
      <th>Published</th>
      <th colspan="2">Scites/</br>Author</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in paper_list %}
    <tr>
      <th scope="row">{{ paper.link_end}}</th>
      <td colspan="3" style="font-weight:bold">{{ paper.title }}</td>
      <td>{{ paper.category }}</td>
      <td> {{paper.published_date}} </td>
      <td style="font-weight:bold">{{ paper.scites }}</td>
      <td>
        <a class="btn btn-secondary", href='/api/paper/{{ paper.link_end }}'>
          Delete
        </a>
      </td>
    </tr>
    <tr>
      <td>
        {% for keyword in paper.keyword %}
        [{{keyword}}]</br>
        {% endfor %}
      </td>
      <td colspan="5"> {{paper.abstract}} </td>
      <td colspan="2">
        {% for author in paper.author %}
        - {{author}}</br>
        {% endfor %} 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
